@charset "UTF-8";

/* 모바일용 게시판 스타일 */
/* 게시판 공통영역 */
.bbsListTbl a:hover, .pagination a:hover, .bbs_title a:hover, .tit_lbl a:hover {
	color:#000 !important;
} /* a태그의 가상선택자로 마우스 오버시 색상 검은색으로 변경*/

/* 메인 상단 위치표시 영역 */
.location_area {
    height: 260px;
    /* background: url() no-repeat center; */
    background-color: pink;
}
.tit_page {
    padding: 140px 0 0 0;
    margin: 0 45px;
    border-bottom: 1px solid #ccc;
    font: 30px 'Arial Narrow';
    letter-spacing: 3px;
    text-align: left;
}
.location { display: none; }
ul.page_menu {
	display: block;
	padding: 10px 0 0 45px;
}
ul.page_menu li {
	float: left;
	padding-bottom: 10px;
}
ul.page_menu li a.on {
	border-bottom: 1px solid rgb(180, 168, 168);
	color: rgb(129, 125, 125);
	background: none;
}
ul.page_menu li a {
    display: block;
	margin-right: 20px;
	font-size: 15px;
	color: rgb(148, 142, 142);
}
.tit_page .in {
    /* 영문 대문자 크기 지정 */
	font-variant: small-caps;
}
/* // 모바일용 게시판 스타일 */